<!DOCTYPE html>
<html lang="en">
{% load static %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="{% static 'bridge/style.css' %}">
<title>{{bridge.name}}</title>
<div class="container-fluid">
<h1>
    That bridge is <br><b>{{bridge.name}}</b>
</h1>
</div>
<div class="container-fluid">
<img class="bridge_pic" src={{bridge.picture}}/>
</div>
<br>
<div class="container-fluid">
    {{bridge.description}}<br>
    This bridge was built in {{bridge.year_built}}
</div>
<br>
<div class="container-fluid">
    <a href="{% url 'bridge:index' %}">
        <input type="button" value="Home"/>
    </a>
</div>
</html>